.note::after {
  //position: absolute;
  display: block;
  top: 0;
  right: 0;
  font-size: 24px;
}

.note.on::after {
  color: yellow;
  filter: drop-shadow(-2px 2px .5px #000000);
  top: -5px;
}

.ReservationButton.on {
  background-color: purple;
}

.ReservationButton.on:focus {
  background-color: purple;
}

.A-note::after {
  content: 'A'
}

.A\#-note::after {
  content: 'A#'
}

.B-note::after {
  content: 'B'
}

.C-note::after {
  content: 'C'
}

.C\#-note::after {
  content: 'C#'
}

.D-note::after {
  content: 'D'
}

.D\#-note::after {
  content: 'D#'
}

.E-note::after {
  content: 'E'
}

.F-note::after {
  content: 'F'
}

.F\#-note::after {
  content: 'F#'
}

.G-note::after {
  content: 'G'
}

.G\#-note::after {
  content: 'G#'
}
